/* CSS declarations go here */
/* ==================== General styles ==================== */
.black-border {
    border: 1px dotted black;
}

.white-border {
    border: 1px dotted white;
}

.black-bgd {
    /* background-color: #212121; */
    background-color: #0F1215;
}

.yellow-bgd {
    background-color: rgba(255, 235, 59, 0.6);
}

@media(min-width: 1024px) {
    .yellow-bgd {
        background-color: #FFEB3B;
    }
}

.black-light-bgd {
    background-color: rgba(15,18,21,0.3);
}

.white-font {
    color: #FAFAFA;
}

.top-header-font {
    font-weight: bold;
}

.extra-padding-tb {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.center-text {
    text-align: center;
}

/* ==================== Sidebar styles ==================== */
#sidebar-title.sidebar-title {
    color: white;
    font-weight: bold;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-top: 1em;
}

/* ==================== Home styles ==================== */
.top-bar {
    border-bottom: 1px solid gray;
}

.header-section {
    padding-bottom: 2em;
    padding-top: 2em;
}

@media(min-width: 1024px) {
    .header-section {
        padding-bottom: 1em;
        padding-top: 1em;
    }
}

.header-image-section {
    background-image: url('img/header-home-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.home-header-title {
    font-weight: bold;
}

.home-header-subtitle {
    display: block;
    margin-top: -1em;
}

.header-home-text {
    background-color: rgba(15,18,21,0.6);
    font-weight: bold;
    padding: 2em 1em;
}

.desktop-menu-container {
    padding-right: 3em;
}

.ui.text.menu.desktop-menu {
    margin-top: -1em; 
}

.item.white-font.menu-options {
    color: white !important;
}

/* ==================== Welcome styles ==================== */
.welcome-section {
    padding-bottom: 2em;
    padding-top: 2em;
}

@media(min-width: 1024px) {
    .welcome-section {
        padding-bottom: 5em;
        padding-top: 5em;
    }
}

.welcome-section-text {
    text-align: justify;
}

.service-item-container {
    padding-bottom: 3em;
    padding-top: 3em;
}

.service-label {
    color: #FF3A5F;
}

/* ==================== Plans styles ==================== */
.plans-section {
    background-attachment: fixed;
    background-image: url('img/plans-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.plans-section-black-layer {
    padding-bottom: 3em;
    padding-top: 3em;
}

@media(min-width: 1024px) {
    .plans-section-black-layer {
        padding-bottom: 8em;
        padding-top: 8em;
    }

    .plans-text {
        padding-bottom: 2em;
    }
}

.plan-card-container {
    margin-bottom: 1em;
    margin-top: 3em;
}

.ui.card.plan-card {
    width: 97%; 
}

.plans-section-title {
    font-weight: bold;
}

/* ==================== Clients styles ==================== */
.clients-section {
    padding-bottom: 3em;
    padding-top: 3em;
}

.client-logo-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1em;
    padding-top: 1em;
}

.client-image {
    height: 80%;
    width: 80%
}

i.icon.sidebar.menu-mobile-icon {
    margin-top: 0.6em;
}

i.icon.sidebar.menu-mobile-icon:before {
    font-size: 2em;
}

/* ==================== Footer styles ==================== */
.footer-section {
    padding-bottom: 3em;
    padding-top: 1em;
}

.footer-label-container {
    margin-bottom: 3em;
    margin-top: 3em;
}

.footer-label {
    color: #FF3A5F;
    font-size: 1.5em;
    font-weight: bold;
}

.footer-item-container {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

/* ==================== Login form styles ==================== */
.login_form_container {
    /* border: 1px dotted gray; */
    padding-bottom: 4em;
    padding-top: 4em;
}

/* ==================== About page styles ==================== */
.about-section-container {
    padding-top: 3em;
}

@media(min-width: 1024px) {
    .about-section-container {
        padding-top: 5em;
    }
}

.about-image-container {
    padding-bottom: 2em;
}

@media(min-width: 1024px) {
    .about-image-container {
        padding-bottom: 0;
    }
}

.about-title {
    padding-bottom: 1em;
}

.about-text {
    font-size: 1.2em;
    text-align: justify;
}

@media(min-width: 1024px) {
    .about-text {
        font-size: 1.5em;
    }
}

.about-info-container {
    margin-top: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
}

.about-info {
    font-size: 1.2em;
    text-align: justify;
}

@media(min-width: 1024px) {
    .about-info {
        font-size: 1.5em;
        text-align: center;
    }
}


/* ==================== Courses page styles ==================== */
.courses-section-container {
    padding-top: 3em;
}

@media(min-width: 1024px) {
    .courses-section-container {
        padding-top: 5em;
    }
}

.courses-title {
    padding-bottom: 1em;
}

.courses-text {
    font-size: 1.2em;
    padding-bottom: 1em;
    text-align: justify;
}

@media(min-width: 1024px) {
    .courses-text {
        font-size: 1.3em;
    }
}

.course-item {
    margin-top: 1.5em;
}

@media(min-width: 1024px) {
    .course-item {
        margin-top: 0.4em;
    }
}

.image-course-container-1,
.image-course-container-2,
.image-course-container-3 {
    background-image: url('img/curso1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 27em;
}

.image-course-container-2 {
    background-image: url('img/curso2.jpg');
}

.image-course-container-3 {
    background-image: url('img/plans-image.jpg');
}

.info-course-container {
    padding-top: 1em;
}

.course-item-text {
    font-size: 1.1em;
    text-align: justify;
}

.course-points-list {
    font-size: 1.1em;
    list-style: none;
    padding-left: 1.5em;
}

/* ==================== Dashboard page styles ==================== */
.dashboard_section {
    padding-bottom: 1em;
    padding-top: 3em;
}

@media(min-width: 1024px) {
    .dashboard_section {
        padding-top: 5em;
    }
}

.options_buttons_container {
    padding-bottom: 1em;
}

.actions_icons:hover {
    cursor: pointer;
}

/* ==================== Registry Form page styles ==================== */
.buttons_actions_form_container {
    padding-bottom: 1em;
    padding-top: 3em;
}
